body{
    background-color: rgba(229, 189, 197, 0.785);
}
h2{
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color:rgb(71, 23, 23)
    text-decoration-line: underline;
    text-decoration-color: rgb(71, 23, 23);
}
.song-title{
    font-weight: 700;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align:left
}
li{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px; 
    color:rgb(71, 23, 23)
}