body{
    background-color: rgba(229, 189, 197, 0.785);
}
h2{
    text-transform: uppercase;
    background-color:rgba(211, 148, 160, 0.795); ;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color:rgb(71, 23, 23)


 
}
h1{
    text-align: center;
    font-size: 35px;
    text-decoration: dashed;
    text-decoration-color:rgb(71, 23, 23) ;
    color:rgb(71, 23, 23)
    
    
    
}
.song-title{
    font-weight: 700;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align:left
}
li{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px; 
    color:rgb(71, 23, 23)
}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    align-items: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(229, 189, 197, 0.785);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color:rgb(71, 23, 23);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .song-of-week {
    background-color:rgba(211, 148, 160, 0.795);
    color:rgb(71, 23, 23);
    text-align: center;
    
  }
  p{
    color:rgb(71, 23, 23);
    font-family:'Times New Roman', Times, serif;
    font-size: 26px;
    width:750px;
    border: 2px solid white;
  outline: rgb(71, 23, 23) solid 10px;
  margin: auto;  
  padding: 26px;

  }
ol{
border: 2px solid white;
  outline: rgb(71, 23, 23) solid 10px;
  margin: auto;  
  padding: 26px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}
.date{
    
    color:rgb(71, 23, 23);
    text-align: right;
    font-size: 26px;
    font-family:'Times New Roman', Times, serif;
    

}
