body{
    background-color: rgb(192, 207, 221);
  
}
title{
   text-transform: uppercase;
   

}
h1{
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color: midnightblue;
    text-decoration-line:underline;
    text-decoration-color: midnightblue;
    border-style:double
   

}
h2{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(50, 50, 139)

}
p{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: midnightblue;
}
b{
    color:midnightblue
}
li{
    color:midnightblue
}

